/.idea
/_task
/.nuxt

/node_modules
/vendor

/public/storage
/public/css
/public/fonts
/public/images
/public/js
/public/mix-manifest.json
/public/sitemap.xml
/public/manifest.js
/public/vendor.js
/public/_nuxt

/storage/*.key

/Homestead.json
/Homestead.yaml
/.env
/composer.lock
/package-lock.json
