.v-bold
{
    &--size
    {
        @for $i from 0 through 10
        {
            &-#{$i * 100}
            {
                font-weight: $i * 100;
            }
        }

        @media (min-width: 1904px)
        {
            @for $i from 0 through 10
            {
                &-#{$i * 100}-xl
                {
                    font-weight: $i * 100;
                }
            }
        }

        @media (max-width: 1904px)
        {
            @for $i from 0 through 10
            {
                &-#{$i * 100}-lg
                {
                    font-weight: $i * 100;
                }
            }
        }

        @media (max-width: 1264px)
        {
            @for $i from 0 through 10
            {
                &-#{$i * 100}-md
                {
                    font-weight: $i * 100;
                }
            }
        }

        @media (max-width: 960px)
        {
            @for $i from 0 through 10
            {
                &-#{$i * 100}-sm
                {
                    font-weight: $i * 100;
                }
            }
        }

        @media all and (max-width: 600px)
        {
            @for $i from 0 through 10
            {
                &-#{$i * 100}-xs
                {
                    font-weight: $i * 100;
                }
            }
        }
    }
}
