@import "./../vars/app";

.v-color
{
    &--black
    {
        color: $app_color_black;
    }

    &--white
    {
        color: $app_color_white;
    }

    &--red
    {
        color: $app_color_red;
    }

    &--green
    {
        color: $app_color_green;
    }
}
