.v-padding
{
    @for $i from 0 through 20
    {
        &--aside-#{$i}
        {
            padding: 1em * $i !important;
        }

        &--top-#{$i}
        {
            padding-top: 1em * $i !important;
        }

        &--right-#{$i}
        {
            padding-right: 1em * $i !important;
        }

        &--bottom-#{$i}
        {
            padding-bottom: 1em * $i !important;
        }

        &--left-#{$i}
        {
            padding-left: 1em * $i !important;
        }
    }

    @for $i from 0 through 20
    {
        &--aside-#{$i}-5
        {
            padding: 1em * $i + 0.5 !important;
        }

        &--top-#{$i}-5
        {
            padding-top: 1em * $i + 0.5 !important;
        }

        &--right-#{$i}-5
        {
            padding-right: 1em * $i + 0.5 !important;
        }

        &--bottom-#{$i}-5
        {
            padding-bottom: 1em * $i + 0.5 !important;
        }

        &--left-#{$i}-5
        {
            padding-left: 1em * $i + 0.5 !important;
        }
    }

    @media (min-width: 1904px)
    {
        @for $i from 0 through 20
        {
            &--aside-#{$i}-xl
            {
                padding: 1em * $i !important;
            }

            &--top-#{$i}-xl
            {
                padding-top: 1em * $i !important;
            }

            &--right-#{$i}-xl
            {
                padding-right: 1em * $i !important;
            }

            &--bottom-#{$i}-xl
            {
                padding-bottom: 1em * $i !important;
            }

            &--left-#{$i}-xl
            {
                padding-left: 1em * $i !important;
            }
        }

        @for $i from 0 through 20
        {
            &--aside-#{$i}-5-xl
            {
                padding: 1em * $i + 0.5 !important;
            }

            &--top-#{$i}-5-xl
            {
                padding-top: 1em * $i + 0.5 !important;
            }

            &--right-#{$i}-5-xl
            {
                padding-right: 1em * $i + 0.5 !important;
            }

            &--bottom-#{$i}-5-xl
            {
                padding-bottom: 1em * $i + 0.5 !important;
            }

            &--left-#{$i}-5-xl
            {
                padding-left: 1em * $i + 0.5 !important;
            }
        }
    }

    @media (max-width: 1904px)
    {
        @for $i from 0 through 20
        {
            &--aside-#{$i}-lg
            {
                padding: 1em * $i !important;
            }

            &--top-#{$i}-lg
            {
                padding-top: 1em * $i !important;
            }

            &--right-#{$i}-lg
            {
                padding-right: 1em * $i !important;
            }

            &--lg-bottom-#{$i}
            {
                padding-bottom: 1em * $i !important;
            }

            &--left-#{$i}-lg
            {
                padding-left: 1em * $i !important;
            }
        }

        @for $i from 0 through 20
        {
            &--aside-#{$i}-5-lg
            {
                padding: 1em * $i + 0.5 !important;
            }

            &--top-#{$i}-5-lg
            {
                padding-top: 1em * $i + 0.5 !important;
            }

            &--right-#{$i}-5-lg
            {
                padding-right: 1em * $i + 0.5 !important;
            }

            &--bottom-#{$i}-5-lg
            {
                padding-bottom: 1em * $i + 0.5 !important;
            }

            &--left-#{$i}-5-lg
            {
                padding-left: 1em * $i + 0.5 !important;
            }
        }
    }

    @media (max-width: 1264px)
    {
        @for $i from 0 through 20
        {
            &--aside-#{$i}-md
            {
                padding: 1em * $i !important;
            }

            &--top-#{$i}-md
            {
                padding-top: 1em * $i !important;
            }

            &--md-right-#{$i}
            {
                padding-right: 1em * $i !important;
            }

            &--bottom-#{$i}-md
            {
                padding-bottom: 1em * $i !important;
            }

            &--left-#{$i}-md
            {
                padding-left: 1em * $i !important;
            }
        }

        @for $i from 0 through 20
        {
            &--aside-#{$i}-5-md
            {
                padding: 1em * $i + 0.5 !important;
            }

            &--top-#{$i}-5-md
            {
                padding-top: 1em * $i + 0.5 !important;
            }

            &--right-#{$i}-5-md
            {
                padding-right: 1em * $i + 0.5 !important;
            }

            &--bottom-#{$i}-5-md
            {
                padding-bottom: 1em * $i + 0.5 !important;
            }

            &--left-#{$i}-5-md
            {
                padding-left: 1em * $i + 0.5 !important;
            }
        }
    }

    @media (max-width: 960px)
    {
        @for $i from 0 through 20
        {
            &--aside-#{$i}-sm
            {
                padding: 1em * $i !important;
            }

            &--top-#{$i}-sm
            {
                padding-top: 1em * $i !important;
            }

            &--right-#{$i}-sm
            {
                padding-right: 1em * $i !important;
            }

            &--bottom-#{$i}-sm
            {
                padding-bottom: 1em * $i !important;
            }

            &--left-#{$i}-sm
            {
                padding-left: 1em * $i !important;
            }
        }

        @for $i from 0 through 20
        {
            &--aside-#{$i}-5-sm
            {
                padding: 1em * $i + 0.5 !important;
            }

            &--top-#{$i}-5-sm
            {
                padding-top: 1em * $i + 0.5 !important;
            }

            &--right-#{$i}-5-sm
            {
                padding-right: 1em * $i + 0.5 !important;
            }

            &--bottom-#{$i}-5-sm
            {
                padding-bottom: 1em * $i + 0.5 !important;
            }

            &--left-#{$i}-5-sm
            {
                padding-left: 1em * $i + 0.5 !important;
            }
        }
    }

    @media all and (max-width: 600px)
    {
        @for $i from 0 through 20
        {
            &--aside-#{$i}-xs
            {
                padding: 1em * $i !important;
            }

            &--top-#{$i}-xs
            {
                padding-top: 1em * $i !important;
            }

            &--right-#{$i}-xs
            {
                padding-right: 1em * $i !important;
            }

            &--bottom-#{$i}-xs
            {
                padding-bottom: 1em * $i !important;
            }

            &--left-#{$i}-xs
            {
                padding-left: 1em * $i !important;
            }
        }

        @for $i from 0 through 20
        {
            &--aside-#{$i}-5-xs
            {
                padding: 1em * $i + 0.5 !important;
            }

            &--top-#{$i}-5-xs
            {
                padding-top: 1em * $i + 0.5 !important;
            }

            &--right-#{$i}-5-xs
            {
                padding-right: 1em * $i + 0.5 !important;
            }

            &--bottom-#{$i}-5-xs
            {
                padding-bottom: 1em * $i + 0.5 !important;
            }

            &--left-#{$i}-5-xs
            {
                padding-left: 1em * $i + 0.5 !important;
            }
        }
    }
}
