@import "./../vars/site";

.v-site
{
    font-family: $site_font;
    color: $site_color;
    font-size: $site_font_size;
    line-height: $site_line_height;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 300px;
    background-color: $site_bck_color;

    DIV, SPAN, OBJECT, H1, H2,
    H3, H4, H5, H6, P, OL, UL,
    LI, TABLE, TBODY, TFOOT, THEAD, TR, TH, TD,
    ARTICLE, ASIDE, CANVAS, FOOTER, HEADER,
    MENU, NAV, SECTION
    {
        word-wrap: break-word;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    TD
    {
        font-family: $site_font;
        color: $site_color;
    }

    P
    {
        padding: 0;
        margin: 0;
        padding-bottom: 1rem;

        &:last-child
        {
            padding-bottom: 0;
        }
    }
}
