.v-vertical
{
    &--middle
    {
        vertical-align: middle;

        @media (min-width: 1904px)
        {
            &-xl
            {
                vertical-align: middle;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                vertical-align: middle;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                vertical-align: middle;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                vertical-align: middle;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                vertical-align: middle;
            }
        }
    }

    &--bottom
    {
        vertical-align: bottom;

        @media (min-width: 1904px)
        {
            &-xl
            {
                vertical-align: bottom;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                vertical-align: bottom;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                vertical-align: bottom;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                vertical-align: bottom;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                vertical-align: bottom;
            }
        }
    }

    &--top
    {
        vertical-align: top;

        @media (min-width: 1904px)
        {
            &-xl
            {
                vertical-align: top;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                vertical-align: top;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                vertical-align: top;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                vertical-align: top;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                vertical-align: top;
            }
        }
    }
}
