.align
{
    &--left
    {
        text-align: left;

        @media (min-width: 1904px)
        {
            &-xl
            {
                text-align: left;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                text-align: left;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                text-align: left;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                text-align: left;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                text-align: left;
            }
        }

        &-as-p
        {
            P,
            LI
            {
                text-align: left;
            }

            @media (min-width: 1904px)
            {
                &-xl
                {
                    P,
                    LI
                    {
                        text-align: left;
                    }
                }
            }

            @media (max-width: 1904px)
            {
                &-lg
                {
                    P,
                    LI
                    {
                        text-align: left;
                    }
                }
            }

            @media (max-width: 1264px)
            {
                &-md
                {
                    P,
                    LI
                    {
                        text-align: left;
                    }
                }
            }

            @media (max-width: 960px)
            {
                &-sm
                {
                    P,
                    LI
                    {
                        text-align: left;
                    }
                }
            }

            @media all and (max-width: 600px)
            {
                &-xs
                {
                    P,
                    LI
                    {
                        text-align: left;
                    }
                }
            }
        }
    }

    &--center
    {
        text-align: center;

        @media (min-width: 1904px)
        {
            &-xl
            {
                text-align: center;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                text-align: center;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                text-align: center;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                text-align: center;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                text-align: center;
            }
        }

        &-as-p
        {
            P,
            LI
            {
                text-align: center;
            }

            @media (min-width: 1904px)
            {
                &-xl
                {
                    P,
                    LI
                    {
                        text-align: center;
                    }
                }
            }

            @media (max-width: 1904px)
            {
                &-lg
                {
                    P,
                    LI
                    {
                        text-align: center;
                    }
                }
            }

            @media (max-width: 1264px)
            {
                &-md
                {
                    P,
                    LI
                    {
                        text-align: center;
                    }
                }
            }

            @media (max-width: 960px)
            {
                &-sm
                {
                    P,
                    LI
                    {
                        text-align: center;
                    }
                }
            }

            @media all and (max-width: 600px)
            {
                &-xs
                {
                    P,
                    LI
                    {
                        text-align: center;
                    }
                }
            }
        }

        &-element
        {
            margin: 0 auto;

            @media (min-width: 1904px)
            {
                &-xl
                {
                    margin: 0 auto;
                }
            }

            @media (max-width: 1904px)
            {
                &-lg
                {
                    margin: 0 auto;
                }
            }

            @media (max-width: 1264px)
            {
                &-md
                {
                    margin: 0 auto;
                }
            }

            @media (max-width: 960px)
            {
                &-sm
                {
                    margin: 0 auto;
                }
            }

            @media all and (max-width: 600px)
            {
                &-xs
                {
                    margin: 0 auto;
                }
            }
        }
    }

    &--right
    {
        text-align: right;

        @media (min-width: 1904px)
        {
            &-xl
            {
                text-align: right;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                text-align: right;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                text-align: right;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                text-align: right;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                text-align: right;
            }
        }

        &-as-p
        {
            P,
            LI
            {
                text-align: right;
            }

            @media (min-width: 1904px)
            {
                &-xl
                {
                    P,
                    LI
                    {
                        text-align: right;
                    }
                }
            }

            @media (max-width: 1904px)
            {
                &-lg
                {
                    P,
                    LI
                    {
                        text-align: right;
                    }
                }
            }

            @media (max-width: 1264px)
            {
                &-md
                {
                    P,
                    LI
                    {
                        text-align: right;
                    }
                }
            }

            @media (max-width: 960px)
            {
                &-sm
                {
                    P,
                    LI
                    {
                        text-align: right;
                    }
                }
            }

            @media all and (max-width: 600px)
            {
                &-xs
                {
                    P,
                    LI
                    {
                        text-align: right;
                    }
                }
            }
        }
    }
}
