.clear
{
    &--none
    {
        clear: none;

        @media (min-width: 1904px)
        {
            &-xl
            {
                clear: none;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                clear: none;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                clear: none;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                clear: none;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                clear: none;
            }
        }
    }

    &--both
    {
        clear: both;
        float: none;

        @media (min-width: 1904px)
        {
            &-xl
            {
                clear: both;
                float: none;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                clear: both;
                float: none;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                clear: both;
                float: none;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                clear: both;
                float: none;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                clear: both;
                float: none;
            }
        }
    }

    &--left
    {
        clear: left;

        @media (min-width: 1904px)
        {
            &-xl
            {
                clear: left;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                clear: left;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                clear: left;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                clear: left;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                clear: left;
            }
        }
    }

    &--right
    {
        clear: right;

        @media (min-width: 1904px)
        {
            &-xl
            {
                clear: right;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                clear: right;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                clear: right;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                clear: right;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                clear: right;
            }
        }
    }
}
