.display
{
    &--inline
    {
        display: inline;

        @media (min-width: 1904px)
        {
            &-xl
            {
                display: inline;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                display: inline;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                display: inline;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                display: inline;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                display: inline;
            }
        }
    }

    &--inline-block
    {
        display: inline-block;

        @media (min-width: 1904px)
        {
            &-xl
            {
                display: inline-block;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                display: inline-block;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                display: inline-block;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                display: inline-block;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                display: inline-block;
            }
        }
    }

    &--block
    {
        display: block;

        @media (min-width: 1904px)
        {
            &-xl
            {
                display: block;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                display: block;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                display: block;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                display: block;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                display: block;
            }
        }
    }

    &--table
    {
        display: table;

        @media (min-width: 1904px)
        {
            &-xl
            {
                display: table;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                display: table;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                display: table;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                display: table;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                display: table;
            }
        }
    }

    &--table-cell
    {
        display: table-cell;

        @media (min-width: 1904px)
        {
            &-xl
            {
                display: table-cell;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                display: table-cell;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                display: table-cell;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                display: table-cell;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                display: table-cell;
            }
        }
    }

    &--table-row
    {
        display: table-row;

        @media (min-width: 1904px)
        {
            &-xl
            {
                display: table-row;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                display: table-row;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                display: table-row;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                display: table-row;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                display: table-row;
            }
        }
    }

    &--flex
    {
        display: flex;

        @media (min-width: 1904px)
        {
            &-xl
            {
                display: flex;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                display: flex;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                display: flex;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                display: flex;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                display: flex;
            }
        }
    }

    &--inline-flex
    {
        display: inline-flex;

        @media (min-width: 1904px)
        {
            &-xl
            {
                display: inline-flex;
            }
        }

        @media (max-width: 1904px)
        {
            &-lg
            {
                display: inline-flex;
            }
        }

        @media (max-width: 1264px)
        {
            &-md
            {
                display: inline-flex;
            }
        }

        @media (max-width: 960px)
        {
            &-sm
            {
                display: inline-flex;
            }
        }

        @media all and (max-width: 600px)
        {
            &-xs
            {
                display: inline-flex;
            }
        }
    }
}
