.effect
{
    &--expand
    {
        &-enter-active,
        &-leave-active
        {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-move
        {
            transition: transform .6s;
        }

        &-x-enter-active,
        &-x-leave-active
        {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-x-move
        {
            transition: transform .6s;
        }
    }

    &--scale
    {
        &-enter-active,
        &-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-move {
            transition: transform .6s;
        }

        &-enter,
        &-leave,
        &-leave-to {
            opacity: 0;
            transform: scale(0);
        }

        &-rotate-enter-active,
        &-rotate-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-rotate-move {
            transition: transform .6s;
        }

        &-rotate-enter,
        &-rotate-leave,
        &-rotate-leave-to {
            opacity: 0;
            transform: scale(0) rotate(-45 deg);
        }

        &-rotate-reverse-enter-active,
        &-rotate-reverse-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-rotate-reverse-move {
            transition: transform .6s;
        }

        &-rotate-reverse-enter,
        &-rotate-reverse-leave,
        &-rotate-reverse-leave-to {
            opacity: 0;
            transform: scale(0) rotate(45deg);
        }
    }

    &--slide
    {
        &-y-enter-active,
        &-y-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-y-move {
            transition: transform .6s;
        }

        &-y-enter,
        &-y-leave-to {
            opacity: 0;
            transform: translateY(-15px);
        }

        &-y-reverse-enter-active,
        &-y-reverse-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-y-reverse-move {
            transition: transform .6s;
        }

        &-y-reverse-enter,
        &-y-reverse-leave-to {
            opacity: 0;
            transform: translateY(15px);
        }

        &-x-enter-active,
        &-x-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-x-move {
            transition: transform .6s;
        }

        &-x-enter,
        &-x-leave-to {
            opacity: 0;
            transform: translateX(-15px);
        }

        &-x-reverse-enter-active,
        &-x-reverse-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-x-reverse-move {
            transition: transform .6s;
        }

        &-x-reverse-enter,
        &-x-reverse-leave-to {
            opacity: 0;
            transform: translateX(15px);
        }
    }

    &--scroll
    {
        &-y-enter-active,
        &-y-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-y-move {
            transition: transform .6s;
        }

        &-y-enter,
        &-y-leave-to {
            opacity: 0;
        }

        &-y-enter {
            transform: translateY(-15px);
        }

        &-y-leave-to {
            transform: translateY(15px);
        }

        &-y-reverse-enter-active,
        &-y-reverse-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-y-reverse-move {
            transition: transform .6s;
        }

        &-y-reverse-enter,
        &-y-reverse-leave-to {
            opacity: 0;
        }

        &-y-reverse-enter {
            transform: translateY(15px);
        }

        &-y-reverse-leave-to {
            transform: translateY(-15px);
        }

        &-x-enter-active,
        &-x-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-x-move {
            transition: transform .6s;
        }

        &-x-enter,
        &-x-leave-to {
            opacity: 0;
        }

        &-x-enter {
            transform: translateX(-15px);
        }

        &-x-leave-to {
            transform: translateX(15px);
        }

        &-x-reverse-enter-active,
        &-x-reverse-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-x-reverse-move {
            transition: transform .6s;
        }

        &-x-reverse-enter,
        &-x-reverse-leave-to {
            opacity: 0;
        }

        &-x-reverse-enter {
            transform: translateX(15px);
        }

        &-x-reverse-leave-to {
            transform: translateX(-15px);
        }
    }

    &--fade
    {
        &-enter-active,
        &-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-move {
            transition: transform .6s;
        }

        &-enter,
        &-leave-to {
            opacity: 0 !important;
        }
    }

    &--fab
    {
        &-enter-active,
        &-leave-active {
            transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
        }

        &-move {
            transition: transform .6s;
        }

        &-enter,
        &-leave-to {
            transform: scale(0) rotate(-45deg);
        }
    }
}
