@import "./../vars/link";

.link
{
    color: $link_color;
    text-decoration: underline;
    cursor: pointer;

    &:hover
    {
        text-decoration: none;
        color: $link_color_hover;
    }

    &--no-line
    {
        text-decoration: none;
    }

    &--links
    {
        A
        {
            color: $link_color;

            &:hover
            {
                text-decoration: none;
                color: $link_color_hover;
            }
        }
    }
}
