.table
{
    border-collapse: collapse;
    padding: 0;
    border-spacing: 0;
    border: 0;
    width: 100%;

    &--auto
    {
        width: auto;
    }

    &--fit
    {
        width: 100%;
    }

    TD
    {
        vertical-align: top;
        border-spacing: 0;
        padding: 0;
        border-width: 0;

        P
        {
            &:last-child
            {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}
