$transparent: transparent;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$green: #00ff00;

$primary: ($black);
$secondary: ();

$font: "";
$color: $black;
$font_size: "1rem";
$line_height: "1.2rem";
$bck_color: $white;
